name: CI
on:
  push:
    branches-ignore:
      - main
      - gh-pages
  pull_request:
    branches-ignore:
      - main
      - gh-pages

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
      - name: Coursier cache
        uses: coursier/cache-action@v6
      - name: Test
        run: sbt core/test
      - name: Code Quality
        run: sbt scalafmtCheckAll
      - name: Cleaning for cache
        run: |
          rm -rf "$HOME/.ivy2/local" || true
          find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
          find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
          find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
          find $HOME/.sbt                              -name "*.lock"               -delete || true
      - name: Check the microsite
        run: sbt docs/mdoc
      - name: Check the scaladocs
        run: sbt core/doc
