name: Update Dependency Graph

on:
  push:
    branches:
      - main

jobs:
  update-graph:
    if: github.repository == 'hablapps/doric'
    name: Update Dependency Graph
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: sbt/setup-sbt@v1.1.11
      - uses: scalacenter/sbt-dependency-submission@v3
